/**Google fonts import**/

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Oswald:wght@200;300&family=Teko:wght@700&family=Viaoda+Libre&family=Work+Sans:wght@300&display=swap');
*
/**

   font-family: 'Abril Fatface', cursive;

    font-family: 'Oswald', sans-serif;

    font-family: 'Teko', sans-serif;

    font-family: 'Viaoda Libre', cursive;

    font-family: 'Work Sans', sans-serif;



**/


/*******************UNIVERSAL SETTINGS****************************/ {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
  line-height: 1.5rem;
  font-family: 'Teko', sans-serif;
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 3rem;
    line-height: 1.5rem;
  }
  h2 {
    font-size: 1.7rem;
    line-height: 1.3rem;
    font-weight: 400;
  }
  h3 {
    font-size: 1.2rem;
    margin-bottom: 1.1rem;
    line-height: 1.5rem;
  }
  h4 {
    font-size: 1.5rem;
    margin-bottom: 1.2rem;
    line-height: 1.1rem;
  }
  h5 {
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
    line-height: 1rem;
  }
  h6 {
    font-size: 1.2rem;
    margin-bottom: 1.1rem;
    line-height: 0.9rem;
  }
}

@media screen and (min-width: 768px) {
  #gradient {
    font-size: 3rem;
    color: white;
    margin-bottom: 8px;
    padding-bottom: 0;
    letter-spacing: 0.3em;
    font-weight: bolder;
  }
}

@media screen and (min-width: 992px) {
  #gradient {
    font-size: 4rem;
    letter-spacing: 0.4em;
    font-weight: bolder;
  }
}

h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  line-height: 1.3rem;
  font-family: 'Viaoda Libre', cursive;
  font-weight: 400;
}

h3,
h4 {
  font-family: 'Fauna One', serif;
  font-weight: 500;
}

.servicecard h4 {
  font-family: 'Viaoda Libre', cursive;
  font-weight: 300;
}

.audio-main-header h3,
.track-numb,
.footer-first-row h3 {
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
}

#subscribe-btn {
  font-family: 'Playfair Display', serif;
  font-weight: lighter;
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 1.1rem;
  line-height: 1.2rem;
}

h4 {
  font-size: 1.5rem;
  margin-bottom: 1.2rem;
  line-height: 1.1rem;
}

h5,
h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
}

h5 {
  font-size: 1.3rem;
  margin-bottom: 1.2rem;
  line-height: 1rem;
}

h6 {
  font-size: 1.2rem;
  margin-bottom: 1.1rem;
  line-height: 0.9rem;
}

p {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  color: rgb(94, 93, 93);
  font-size: 1rem;
  margin: 1rem 0;
}

article p {
  margin: 1rem 0;
}

.event-container .details p {
  margin: 0;
}

a {
  text-decoration: none;
  transition: all 0.5s ease;
}

button {
  font-family: 'Oswald', sans-serif;
}

@media screen and (min-width: 768px) {
  .content_wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

@media screen and (min-width: 992px) {
  .content_wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

@media screen and (min-width: 1200px) {
  .content_wrapper {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

/*****************ENDS****************************/

/**navbar links**/

a:visited {
  border: none;
  outline: none;
}

a:focus {
  border: none;
  outline: none;
}

ul {
  list-style-type: none;
}

/****************SIGN IN***********************/

.sigin_container_wrapper {
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#signIn {
  margin: 0;
  min-height: 100vh;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.9),
    rgba(182, 182, 182, 0.912)
  );
  position: relative;
  overflow-y: auto;
}

#img_bg {
  margin: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url('../img/bg-img/login-logout/pexels-august-de-richelieu-4262174.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: hidden;
}

.singin_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

@media screen and (max-width: 600px) {
  #signIn {
    width: 100%;
    display: block;
    position: relative;
    overflow-y: auto;
  }

  #img_bg {
    display: none;
    width: 0%;
  }
}

@media screen and (min-width: 768px) {
  #signIn {
    width: 40%;
    position: relative;
    overflow-y: auto;
  }

  #img_bg {
    width: 60%;
  }
}

@media screen and (min-width: 992px) {
  #signIn {
    width: 25%;
    position: relative;
    overflow-y: auto;
  }

  #img_bg {
    width: 75%;
  }
}
/****Settings for content******/

.form-wrapper {
  max-width: 400px;
  margin: 0 auto;
  position: relative;
}

.form-wrapper .input-password {
  padding: 20px 15px;
  background-image: none;
}

.form-wrapper a {
  color: #5cb85c;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
}

.form-heading h2 {
  padding-bottom: 5px;
  color: #5cb85c;
  text-align: center;
}

.form-wrapper label {
  margin: 0;
  padding: 0;
  width: 100%;
  display: block;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  color: #5e5e5e;
  font-size: 1rem;
}

.form-wrapper input[type='email'],
.form-wrapper input[type='password'],
.form-wrapper input[type='text'] {
  width: 100%;
  border: none;
  outline: none;
  font-size: 1rem;
  font-family: 'Work Sans', sans-serif;
  padding: 5px;
  background-color: rgba(184, 182, 182, 0.5);
  border-radius: 4px;
  box-shadow: inset 1px 2px 2px 1px rgba(184, 182, 182, 0.6);
  transition: background-color 0.8s ease, color 0.8s ease;
}

.form-wrapper label input[type='checkbox'] {
  border: none;
  outline: none;
}

.form-wrapper input[type='email']:focus,
.form-wrapper input[type='password']:focus,
.form-wrapper input[type='text']:focus {
  border: none;
  outline: none;
  background-color: rgba(92, 184, 92, 0.4);
  color: white;
}

.form-wrapper .label-wrapper-input {
  margin-bottom: 15px;
}

.form-wrapper .label-wrapper-input:last-child {
  margin-bottom: 0px;
}

.form-wrapper .btn_container {
  margin: 10px 0;
  padding: 0;
  width: 100%;
}

.form-wrapper .btn_container button {
  border: none;
  outline: none;
  padding: 5px 15px;
  cursor: pointer;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  font-size: 1em;
  background-color: #5cb85c;
  color: #f2f2f2;
}

.form-wrapper .btn_container button:first-child {
  min-width: 105px;
  margin-right: auto;
}

.form-wrapper .btn_container button:last-child {
  min-width: 160px;
  margin-left: auto;
}

.form-wrapper .orsignIn_container {
  width: 100%;
  background-color: none;
  padding: 20px 15px;
}

.form-wrapper .orsignIn_container p {
  color: #5cb85c;
  font-weight: 600;
}

.form-wrapper .orsignIn_container a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 12px;
  width: 100%;
  margin: 10px 0;
  font-family: 'Work Sans', sans-serif;
  color: white;
}

.form-wrapper .orsignIn_container a {
  background-color: #3b5998;
}

.form-wrapper .orsignIn_container .fa-facebook,
.form-wrapper .orsignIn_container .fa-google {
  border-right: 1px solid white;
  padding-right: 10px;
}

.form-wrapper .orsignIn_container a:last-child {
  margin: 0;
  background-color: #bb0000;
}

/**********HERO TEXT**************/

.hero_text {
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 10px;
}

.hero_text div {
  text-align: center;
}

.hero_text div p {
  font-size: 1.2em;
  line-height: 1.2em;
  margin: 1em 0;
}

.hero_text div a {
  text-decoration: none;
  background-color: rgb(0, 0, 0);
  background-color: rgba(92, 182, 92, 0.5);
  border: 1px solid white;
  outline: none;
  padding: 8px 32px;
  color: white;
  width: auto;
  display: inline-block;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
  font-size: 1em;
  border-radius: 4px;
}
.delivery .fa,
.delivery .fas {
  font-size: 1.2em;
}

.delivery div h6 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.1em;
  line-height: 1em;
  color: #5cb85c;
}

.label-wrapper-input .keepmesigedin {
  max-width: 300px;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

@media screen and (min-width: 768px) {
  #gradient {
    font-size: 4rem;
    letter-spacing: 0.1em;
    font-weight: bolder;
    line-height: 0.8em;
  }
  .hero_text div p {
    margin-top: 0;
    margin-bottom: 1.2em;
  }
  .delivery {
    width: 60%;
    position: absolute;
    bottom: 8px;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 10px;
  }
  .delivery div h6 {
    display: flex;
    flex-direction: column;
  }
  .delivery .fa,
  .delivery .fas {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 992px) {
  #gradient {
    letter-spacing: 0.2em;
    font-weight: bolder;
    line-height: 0.2em;
  }
  .hero_text div p {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .delivery {
    margin: 1.5em auto 0;
    justify-content: space-between;
    width: 45%;
    right: 32px;
    padding: 4px 6px;
  }
  .delivery div h6 {
    flex-direction: row;
  }
  .delivery .fa,
  .delivery .fas {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .delivery {
    width: 40%;
  }
}

@media screen and (min-width: 1400px) {
  .delivery {
    width: 35%;
  }
}

@media screen and (min-width: 1600px) {
  .delivery {
    width: 28%;
  }
}
